{%- raw -%}
image: atlassian/default-image:3

definitions:
  steps:
    - step: &run
        name: 'Run workflow api script'
        script:
          - |

            execution_id=$(echo '${{ parameters.api_inputs }}' | jq -cr '.execution_id')

            curl -o script.sh https://workflow-api.v1.stackspot.com/workflows/$execution_id --header 'Authorization: Bearer $(secret_stk_login)'
            chmod +x script.sh

            echo "------------------------------------------------------------------------------------------"
            echo "---------------------------------------- Starting ----------------------------------------"
            echo "------------------------------------------------------------------------------------------"

            bash script.sh

            echo "------------------------------------------------------------------------------------------"
            echo "----------------------------------------  Ending  ----------------------------------------"
            echo "------------------------------------------------------------------------------------------"

pipelines:
  custom:
    middle-flow:
      - variables:
        - name: api_inputs
        - name: correlation_id
        - name: secrets
        - name: default_branch
          default: main
      - step: *run

{% endraw %}