{%- raw -%}
image: atlassian/default-image:3

definitions:
  steps:
    - step: &run
        name: 'Run workflow api script'
        script:
          - |

            execution_id=$(echo $api_inputs | jq -cr '.execution_id')
            secret_stk_login=$(echo $secrets | jq -cr '.secret_stk_login')

            http_code=$(curl -s -o script.sh -w '%{http_code}' https://workflow-api.v1.stackspot.com/workflows/$execution_id --header 'Authorization: Bearer $(secret_stk_login)';)
            if [[ "$http_code" -ne "200" ]]; then
                echo "------------------------------------------------------------------------------------------"
                echo "---------------------------------------- Debug Starting ----------------------------------"
                echo "------------------------------------------------------------------------------------------"

                echo "HTTP_CODE:" $http_code
                echo "RESPONSE_CONTENT:"
                cat script.sh

                echo "------------------------------------------------------------------------------------------"
                echo "---------------------------------------- Debug Ending ------------------------------------"
                echo "------------------------------------------------------------------------------------------"
            else
                chmod +x script.sh

                echo "------------------------------------------------------------------------------------------"
                echo "---------------------------------------- Starting ----------------------------------------"
                echo "------------------------------------------------------------------------------------------"

                bash script.sh

                echo "------------------------------------------------------------------------------------------"
                echo "----------------------------------------  Ending  ----------------------------------------"
                echo "------------------------------------------------------------------------------------------"

            fi

pipelines:
  custom:
    middle-flow:
      - variables:
        - name: api_inputs
        - name: correlation_id
        - name: secrets
        - name: default_branch
          default: main
      - step: *run

{% endraw %}