name: Middle Flow
run-name: ${{ inputs.workflow_name }}
on: 
  workflow_call:
    inputs:
      correlation_id:
        description: Correlation id
        type: string
        required: true
      workflow_name:
        description: Workflow path
        type: string
        required: true
      api_inputs:
        description: Workflow inputs (json)
        type: string
        required: true
      config:
        description: Workflow config
        type: string
        required: true
    secrets:
      secrets:
        description: Secrets info (json)
        required: true

jobs:
  validate-inputs:
    name: Validate inputs
    runs-on: ubuntu-latest
    steps:
      - name: Print inputs
        run: |
          i=0
          for s in $(echo '${{ inputs.api_inputs }}' | jq -r '.sensitive'); do
            i=$((i+1))
            the_secret="${s}"
            echo "::add-mask::$the_secret"
            echo "secret-number=$the_secret" >> "$GITHUB_OUTPUT"
          done

          echo "Inputs from api: ${{ inputs.api_inputs }}"

      - name: Print config
        run: |
          echo "Config: ${{ inputs.config }}"

      - name: "Validate config: 'config.stk'"
        if: fromJson(inputs.config).stk == ''
        run: |
         echo "ERROR: 'stk' field not found in json for 'config' input"
         exit 1

      - name: "Validate config: 'config.runner'"
        if: fromJson(inputs.config).runner == ''
        run: |
         echo "ERROR: 'runner' field not found in json for 'config' input"
         exit 1

  use-workspace:
    name: Prepare STK
    runs-on: ${{ fromJson(inputs.config).runner }}
    needs: validate-inputs
    env: 
      STK: ${{ fromJson(inputs.config).stk }}
    steps:
      - name: Checkout workflows repo
        uses: actions/checkout@v3
        with:
          repository: ${{ fromJson(inputs.config).origin_repository }}
          ref: ${{ fromJson(inputs.config).origin_branch }}   
          token: ${{ fromJson(secrets.secrets).scm_token }}

      - name: Cache
        uses: ./github-actions/restore-stk-cache
        with: 
          stk: ${{ env.STK }}

      - name: Install STK
        uses: ./github-actions/install-stk-cli
        with: 
          stk: ${{ env.STK }}

      - name: Login ${{ fromJson(inputs.api_inputs).cli_login_email }}
        uses: ./github-actions/login-stk
        with: 
          stk: ${{ env.STK }}
          email: ${{ fromJson(inputs.api_inputs).cli_login_email }}
          pat: ${{ fromJson(secrets.secrets).cli_token }}
          realm: ${{ fromJson(inputs.api_inputs).cli_login_realm }}

      - name: Use workspace ${{ fromJson(inputs.api_inputs).workspace_slug }}
        run: |
          use_workspace_cmd=$(echo '${{ inputs.api_inputs }}' | jq -cr '.use_workspace_cmd' | base64 --decode)
          set -x
          eval "$STK $use_workspace_cmd"
      - name: Show Error Log
        if: failure()
        run: |
          cat ~/.$STK/logs/*

  apply:
    if: ${{ inputs.workflow_name == 'apply-plugin' }}
    needs: use-workspace
    uses: stack-spot/stackspot-workflows-action/.github/workflows/apply-plugin.yml@qa
    with:
      api_inputs: ${{ inputs.api_inputs }}
      config: ${{ inputs.config }}
    secrets:
      secrets: ${{ secrets.secrets }}

  create:
    if: ${{ inputs.workflow_name == 'create' }}
    needs: use-workspace
    uses: stack-spot/stackspot-workflows-action/.github/workflows/create.yml@qa
    with:
      api_inputs: ${{ inputs.api_inputs }}
      config: ${{ inputs.config }}
    secrets:
      secrets: ${{ secrets.secrets }}

  run:
    if: ${{ inputs.workflow_name == 'run-action' }}
    needs: use-workspace
    uses: stack-spot/stackspot-workflows-action/.github/workflows/run-action.yml@qa
    with:
      api_inputs: ${{ inputs.api_inputs }}
      config: ${{ inputs.config }}
    secrets:
      secrets: ${{ secrets.secrets }}
